
@{
    ViewBag.Title = "BadRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8">
    <img class="img-responsive" src="~/Content/Images/soso3.jpg" alt="" />
</div>
<div class="col-md-4">
    <h2>400 : Неправильний запит</h2>
    <h3>Я сі вибацаю, але ви ввели сось не то і не не мозу злозуміти ;)</h3>
</div>