
@{
    ViewBag.Title = "BadRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-2">
        <img src="~/Content/Images/errorGifs/fine.gif" style="margin-top: 20px" />
    </div>
    <div class="col-sm-4">
        <h2>400 : Неправильний запит</h2>
        <h3>Я сі вибацаю, але ви ввели сось не то і не не мозу злозуміти ;)</h3>
    </div>
</div>