
@{
    ViewBag.Title = "InternalError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8">
    <img class="img-responsive" src="~/Content/Images/soso1.jpg" alt="" />
</div>
<div class="col-md-4">
    <h2>500 : Помилка сервера</h2>
    <h3>Я сі вибацаю, але в нас сось сталось і не мозу виконати ваш запит ;)</h3>
</div>