
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-2">
        <img class="img-responsive" src="~/Content/Images/errorGifs/travolta.gif" style="margin-top: 20px" />
    </div>
    <div class="col-md-4">
        <h2>404 : Не знайдено</h2>
        <h3>Я сі вибацаю, але не мозу знайти запитану сторінку на сервері ;)</h3>
    </div>
</div>