
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello, earthlings!!!</title>
</head>
<body>
<div>
    <h1>Hello, earthlings</h1>
    <h2>Date and time on the Earth: @DateTime.Now</h2>
</div>
</body>
</html>
