body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #142048;
    color: #fff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-image: url('Images/millionaire-logo.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 550px, 450px, cover;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.custom-jumbotron {
    margin-top: 20px;
    color: #fff !important;
    background-color: inherit !important;
}

#question {
    z-index: 3;
    margin-top: 20px;
}

.btn-answer {
    outline: none;
    border-radius: 7px;
    border-color: #fff;
    background: #223E95;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 15px;
    /*margin-right: 2%;*/
    padding: 5px 5px 5px 15px;
    text-align: left;
}

@media (min-width: 992px){
    .btn-answer {
        margin-right: -2%;
    }
}

@media (min-width: 1200px){
    .btn-answer {
        margin-right: 2%;
    }
}


.btn-answer:hover {
    background: #2252e8;
}

.img-background {
    height: 350px;
    width: 450px;
}

/*.game-page {
    background-color: #142048;
}*/

.question-block {
    outline: none;
    border-radius: 10px;
    border-color: #fff;
    background: #020c2c;
    color: #fff;
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;
    border: 2px solid #fff;
}

.steps-list {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    list-style-type: none;
    margin-top: 15px;
}

.steps-list li {
    border-radius: 7px;
    border-width: 1px;
    border-color: #000;
    padding-left: 10px;
}

.save-reward {
    color: #ff1493;
}

.step-selected {
    background-color: #ff7b1e;
    width: 70px;
}

.btn-hints {
    background-size: cover;
    outline: none;
    margin-top: 15px;
    padding: 38px 62px
}

.btn-hints:hover {
    border-radius: 10px;
    /*border: 1px solid #fff;*/
}

#fiftyHint {
    background-image: url('Images/HintButtons/5050.png');
}

    #fiftyHint:hover {
        background-image: url('Images/HintButtons/5050Orange.png');
    }

#audienceHint {
    background-image: url('Images/HintButtons/audience.png');
}

    #audienceHint:hover {
        background-image: url('Images/HintButtons/audienceOrange.png');
    }

#friendCallHint {
    background-image: url('Images/HintButtons/phoneAFriend.png');
}

    #friendCallHint:hover {
        background-image: url('Images/HintButtons/phoneAFriendOrange.png');
    }

.email-validation-error {
    border: 2px solid #ff0000 !important;
}


.modal-text {
    color: #000;
}