body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.custom-jumbotron {
    margin-top : 20px;
}

#question {
    z-index: 3;
}

.btn-answer {
    outline: none;
    border-radius: 7px;
    border-color: #fff;
    background: #223E95;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 5px 5px 5px 15px;
    text-align: left;
}

.btn-answer:hover {
    background: #2252e8;
}

.img-background {
    height: 350px;
    width: 450px;
}

.game-page {
    background-color: #142048;
}

.question-block {
    outline: none;
    border-radius: 10px;
    border-color: #fff;
    background: #020c2c;
    color: #fff;
    margin-bottom: 15px;
    padding: 5px 5px 5px 15px;
    text-align: center;
    border: 2px solid #fff;
}