@model IEnumerable<MillionaireGame.Entities.PlayerStatistic>

@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Результати гри</h2>

<table class="table table-bordered table-condensed table-responsive">
    <thead>
        <tr>
            <th>Гравець</th>
            <th>Дата</th>
            <th>Результат</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model)
        {
            <tr>
                <td>@result.Name</td>
                <td>@result.ResultDateTime</td>
                <td>@result.Result</td>
            </tr>
        }
    </tbody>
</table>
